<include src="../chunks/head.html"></include>
<body>
  <div id="page-wrapper" class="page-wrapper">
    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->
    <!-- Begin page body -->
    <div id="page-body" class="page-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            content
            <svg class="icon icon-start">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#start"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!-- End page body -->
    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->
  </div>
  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>
</html>
